@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

body {
  min-height: 100dvh;
  font-family: "Pretendard-Regular";
  background: #e5e5e5 !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  img {
    @apply inline-block;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.main_wrap {
  max-width: 393px;
  background:#fff;  
  margin: 0 auto;
}

.swiper {
  display: flex;
  align-items: center;
  max-width: 100%;
  height: 250px;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
}

.swiper-slide {
  display: flex !important;
  justify-content: center;
}

.main-wrap:has(.button-cont) {
  position: relative;
}
.button-cont {
  position: absolute;
  bottom: 20px;
  display: flex;
  align-items: center;
  gap: 12px;
  width: calc(100% - 40px);
}

.button-prev,
.button-next,
.button-border {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex: 1;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 700;
  padding: 12px 0;
  border-radius: 10px;
}
.button-prev {
  color: #fff;
  background: #a3a3a3;
}

.button-next {
  color: #fff;
  background: #f97316;
}

.button-border {
  color: #ea580c;
  color: EA580C;
  border: #f97316 1px solid;
}